html, body {
	background: darkgrey;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	text-align: center;
}

canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display:block;
}